span {
    font-size: 30px;
    border: 2px solid yellow;
    font-style: italic;
    background-color: rgb(241, 197, 197);
}

nav>ul {
    display: flex;
    text-decoration: none;
    padding: 0px;
}

ul {
    list-style: none;
}

.hide {
    display: none;
    position: absolute;
    margin-right: -30px;
    background-color: rgb(227, 137, 215);
    padding: 0px;
}



nav li {
    margin: 8px;
}

nav>ul>li:hover>ul {
    display: block;
}